:root {
  --main: #de1836;
  --second: #e8e5e7;
  --contraste: #262625;
  --extra: #18dec0;
  --main-color: var(--main);
  --second-color: var(--second);
  --contraste-color: var(--contraste);
  --extra-color: var(--extra);
}

:root {
  --main1: #b9142d;
  --main1-color: var(--main1);
}

[data-do-bg='main1'] {
  background-color: var(--main1-color) !important;
}

[data-do-txt='main1'] {
  color: var(--main1-color) !important;
}

:root {
  --main2: #941024;
  --main2-color: var(--main2);
}

[data-do-bg='main2'] {
  background-color: var(--main2-color) !important;
}

[data-do-txt='main2'] {
  color: var(--main2-color) !important;
}

:root {
  --main3: #700c1b;
  --main3-color: var(--main3);
}

[data-do-bg='main3'] {
  background-color: var(--main3-color) !important;
}

[data-do-txt='main3'] {
  color: var(--main3-color) !important;
}

:root {
  --main4: #4b0812;
  --main4-color: var(--main4);
}

[data-do-bg='main4'] {
  background-color: var(--main4-color) !important;
}

[data-do-txt='main4'] {
  color: var(--main4-color) !important;
}

:root {
  --main5: #260409;
  --main5-color: var(--main5);
}

[data-do-bg='main5'] {
  background-color: var(--main5-color) !important;
}

[data-do-txt='main5'] {
  color: var(--main5-color) !important;
}

[data-do-bg='main'] {
  background-color: var(--main-color) !important;
}

[data-do-txt='main'] {
  color: var(--main-color) !important;
}

[data-set-main='second'] {
  --main-color: var(--second) !important;
}

[data-do="main-second"] {
  background-color: var(--main-color) !important;
  color: var(--second-color) !important;
}

[data-do-hover="main-second"]:hover {
  background-color: var(--main-color) !important;
  color: var(--second-color) !important;
}

[data-set-main='contraste'] {
  --main-color: var(--contraste) !important;
}

[data-do="main-contraste"] {
  background-color: var(--main-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-hover="main-contraste"]:hover {
  background-color: var(--main-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-main='extra'] {
  --main-color: var(--extra) !important;
}

[data-do="main-extra"] {
  background-color: var(--main-color) !important;
  color: var(--extra-color) !important;
}

[data-do-hover="main-extra"]:hover {
  background-color: var(--main-color) !important;
  color: var(--extra-color) !important;
}

:root {
  --second1: #e1dbdd;
  --second1-color: var(--second1);
}

[data-do-bg='second1'] {
  background-color: var(--second1-color) !important;
}

[data-do-txt='second1'] {
  color: var(--second1-color) !important;
}

:root {
  --second2: #dbd0d3;
  --second2-color: var(--second2);
}

[data-do-bg='second2'] {
  background-color: var(--second2-color) !important;
}

[data-do-txt='second2'] {
  color: var(--second2-color) !important;
}

:root {
  --second3: #d5c4ca;
  --second3-color: var(--second3);
}

[data-do-bg='second3'] {
  background-color: var(--second3-color) !important;
}

[data-do-txt='second3'] {
  color: var(--second3-color) !important;
}

:root {
  --second4: #cfb8bf;
  --second4-color: var(--second4);
}

[data-do-bg='second4'] {
  background-color: var(--second4-color) !important;
}

[data-do-txt='second4'] {
  color: var(--second4-color) !important;
}

:root {
  --second5: #caacb3;
  --second5-color: var(--second5);
}

[data-do-bg='second5'] {
  background-color: var(--second5-color) !important;
}

[data-do-txt='second5'] {
  color: var(--second5-color) !important;
}

[data-do-bg='second'] {
  background-color: var(--second-color) !important;
}

[data-do-txt='second'] {
  color: var(--second-color) !important;
}

[data-set-second='main'] {
  --second-color: var(--main) !important;
}

[data-do="second-main"] {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
}

[data-do-hover="second-main"]:hover {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
}

[data-set-second='contraste'] {
  --second-color: var(--contraste) !important;
}

[data-do="second-contraste"] {
  background-color: var(--second-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-hover="second-contraste"]:hover {
  background-color: var(--second-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-second='extra'] {
  --second-color: var(--extra) !important;
}

[data-do="second-extra"] {
  background-color: var(--second-color) !important;
  color: var(--extra-color) !important;
}

[data-do-hover="second-extra"]:hover {
  background-color: var(--second-color) !important;
  color: var(--extra-color) !important;
}

:root {
  --contraste1: #2c1417;
  --contraste1-color: var(--contraste1);
}

[data-do-bg='contraste1'] {
  background-color: var(--contraste1-color) !important;
}

[data-do-txt='contraste1'] {
  color: var(--contraste1-color) !important;
}

:root {
  --contraste2: #290b10;
  --contraste2-color: var(--contraste2);
}

[data-do-bg='contraste2'] {
  background-color: var(--contraste2-color) !important;
}

[data-do-txt='contraste2'] {
  color: var(--contraste2-color) !important;
}

:root {
  --contraste3: #22060a;
  --contraste3-color: var(--contraste3);
}

[data-do-bg='contraste3'] {
  background-color: var(--contraste3-color) !important;
}

[data-do-txt='contraste3'] {
  color: var(--contraste3-color) !important;
}

:root {
  --contraste4: #190306;
  --contraste4-color: var(--contraste4);
}

[data-do-bg='contraste4'] {
  background-color: var(--contraste4-color) !important;
}

[data-do-txt='contraste4'] {
  color: var(--contraste4-color) !important;
}

:root {
  --contraste5: #0f0103;
  --contraste5-color: var(--contraste5);
}

[data-do-bg='contraste5'] {
  background-color: var(--contraste5-color) !important;
}

[data-do-txt='contraste5'] {
  color: var(--contraste5-color) !important;
}

[data-do-bg='contraste'] {
  background-color: var(--contraste-color) !important;
}

[data-do-txt='contraste'] {
  color: var(--contraste-color) !important;
}

[data-set-contraste='main'] {
  --contraste-color: var(--main) !important;
}

[data-do="contraste-main"] {
  background-color: var(--contraste-color) !important;
  color: var(--main-color) !important;
}

[data-do-hover="contraste-main"]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--main-color) !important;
}

[data-set-contraste='second'] {
  --contraste-color: var(--second) !important;
}

[data-do="contraste-second"] {
  background-color: var(--contraste-color) !important;
  color: var(--second-color) !important;
}

[data-do-hover="contraste-second"]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--second-color) !important;
}

[data-set-contraste='extra'] {
  --contraste-color: var(--extra) !important;
}

[data-do="contraste-extra"] {
  background-color: var(--contraste-color) !important;
  color: var(--extra-color) !important;
}

[data-do-hover="contraste-extra"]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--extra-color) !important;
}

:root {
  --extra1: rgba(66, 220, 196, 0.85);
  --extra1-color: var(--extra1);
}

[data-do-bg='extra1'] {
  background-color: var(--extra1-color) !important;
}

[data-do-txt='extra1'] {
  color: var(--extra1-color) !important;
}

:root {
  --extra2: rgba(111, 215, 199, 0.7);
  --extra2-color: var(--extra2);
}

[data-do-bg='extra2'] {
  background-color: var(--extra2-color) !important;
}

[data-do-txt='extra2'] {
  color: var(--extra2-color) !important;
}

:root {
  --extra3: rgba(150, 215, 205, 0.55);
  --extra3-color: var(--extra3);
}

[data-do-bg='extra3'] {
  background-color: var(--extra3-color) !important;
}

[data-do-txt='extra3'] {
  color: var(--extra3-color) !important;
}

:root {
  --extra4: rgba(185, 219, 214, 0.4);
  --extra4-color: var(--extra4);
}

[data-do-bg='extra4'] {
  background-color: var(--extra4-color) !important;
}

[data-do-txt='extra4'] {
  color: var(--extra4-color) !important;
}

:root {
  --extra5: rgba(215, 229, 227, 0.25);
  --extra5-color: var(--extra5);
}

[data-do-bg='extra5'] {
  background-color: var(--extra5-color) !important;
}

[data-do-txt='extra5'] {
  color: var(--extra5-color) !important;
}

[data-do-bg='extra'] {
  background-color: var(--extra-color) !important;
}

[data-do-txt='extra'] {
  color: var(--extra-color) !important;
}

[data-set-extra='main'] {
  --extra-color: var(--main) !important;
}

[data-do="extra-main"] {
  background-color: var(--extra-color) !important;
  color: var(--main-color) !important;
}

[data-do-hover="extra-main"]:hover {
  background-color: var(--extra-color) !important;
  color: var(--main-color) !important;
}

[data-set-extra='second'] {
  --extra-color: var(--second) !important;
}

[data-do="extra-second"] {
  background-color: var(--extra-color) !important;
  color: var(--second-color) !important;
}

[data-do-hover="extra-second"]:hover {
  background-color: var(--extra-color) !important;
  color: var(--second-color) !important;
}

[data-set-extra='contraste'] {
  --extra-color: var(--contraste) !important;
}

[data-do="extra-contraste"] {
  background-color: var(--extra-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-hover="extra-contraste"]:hover {
  background-color: var(--extra-color) !important;
  color: var(--contraste-color) !important;
}

.reverse {
  --main-color: var(--second3) !important;
  --second-color: var(--contraste5) !important;
  --contraste-color: var(--second5) !important;
  --extra-color: var(--main) !important;
  --extra4-color: var(--main5) !important;
}

[data-do-bg], [data-do-txt] {
  transition: background-color 0.2s, color 0.2s;
}

[data-bt] {
  display: inline-block;
  border-radius: 0.2rem;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid var(--second-color);
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

[data-do-bg], [data-do-txt] {
  transition: all 0.3s;
}

[data-active].active {
  background-color: var(--main2-color) !important;
  color: var(--contraste-color) !important;
}

[data-colors-container] {
  transition: transform 0.3s;
  transform: translateY(0%);
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 0rem;
}
@media (max-width: 900px) {
  [data-colors-container] {
    width: 3rem;
    height: 3rem;
  }
}

[data-bt-color] {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 0px;
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  [data-bt-color] {
    width: 3rem;
    height: 3rem;
  }
}

[data-colors-container] {
  opacity: 1;
  transform: scale(1);
  margin-right: 0.5rem;
  display: inline-block;
}

[data-colors-container] [data-bt-color] {
  opacity: 0;
  transform: scale(0.5);
  margin-right: 0rem;
  position: absolute;
  pointer-events: none;
}

[data-bt-color]:hover {
  opacity: 1 !important;
}

[data-bt-color].active {
  transform: scale(1);
}

[data-bt-color]:not(.active):hover {
  transform: scale(0.75) !important;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

[data-colors-container]:not(.active):hover {
  transform: scale(0.75) !important;
}

[data-colors-container].active [data-bt-color].active {
  transform: scale(0.5);
}

[data-colors-container].active [data-bt-color] {
  opacity: 1;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color].active {
  opacity: 1 !important;
  top: 0rem !important;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
  transition-delay: 0s;
}

[data-colors-container].active [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(2) {
  top: 0.2rem;
  left: 0.2rem;
  transition-delay: 0.02s;
}

[data-colors-container].active [data-bt-color]:nth-child(2) {
  top: 1.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(3) {
  top: 0.4rem;
  left: 0rem;
  transition-delay: 0.04s;
}

[data-colors-container].active [data-bt-color]:nth-child(3) {
  top: 3rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(4) {
  top: 0.6rem;
  left: 0.2rem;
  transition-delay: 0.06s;
}

[data-colors-container].active [data-bt-color]:nth-child(4) {
  top: 4.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(5) {
  top: 0.8rem;
  left: 0rem;
  transition-delay: 0.08s;
}

[data-colors-container].active [data-bt-color]:nth-child(5) {
  top: 6rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(6) {
  top: 1rem;
  left: 0.2rem;
  transition-delay: 0.1s;
}

[data-colors-container].active [data-bt-color]:nth-child(6) {
  top: 7.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(7) {
  top: 1.2rem;
  left: 0rem;
  transition-delay: 0.12s;
}

[data-colors-container].active [data-bt-color]:nth-child(7) {
  top: 9rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(8) {
  top: 1.4rem;
  left: 0.2rem;
  transition-delay: 0.14s;
}

[data-colors-container].active [data-bt-color]:nth-child(8) {
  top: 10.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(9) {
  top: 1.6rem;
  left: 0rem;
  transition-delay: 0.16s;
}

[data-colors-container].active [data-bt-color]:nth-child(9) {
  top: 12rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(10) {
  top: 1.8rem;
  left: 0.2rem;
  transition-delay: 0.18s;
}

[data-colors-container].active [data-bt-color]:nth-child(10) {
  top: 13.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(11) {
  top: 2rem;
  left: 0rem;
  transition-delay: 0.2s;
}

[data-colors-container].active [data-bt-color]:nth-child(11) {
  top: 15rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(12) {
  top: 2.2rem;
  left: 0.2rem;
  transition-delay: 0.22s;
}

[data-colors-container].active [data-bt-color]:nth-child(12) {
  top: 16.5rem;
  left: 2.2rem;
}

.container-module.flex {
  display: flex !important;
  flex-direction: row;
}

.do-wtf-item {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}

.do-wtf-item-custom {
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--main-color);
}
.do-wtf-item-custom:nth-child(odd) {
  background-color: var(--second-color);
  width: 100px;
  height: 1px;
}
.do-wtf-item-custom:nth-child(3n-1) {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--contraste-color);
}
.do-wtf-item-custom:hover {
  background-color: #000;
}

.do-grid-wtf {
  display: grid;
  align-items: center;
  perspective: 800px;
  position: absolute;
  z-index: 0;
  top: 0rem;
  pointer-events: none;
  opacity: 1;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1px;
}

.deco {
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: rotate(45deg);
  pointer-events: none;
}

.card {
  height: 80vh;
  width: 33vw;
  background-color: var(--contraste-color);
}

.hide {
  pointer-events: none;
  display: none !important;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

[data-do-trigger="true"].active {
  text-decoration: underline;
}
