:root {
  --main: #de1836;
  --second: #e8e5e7;
  --contraste: #262625;
  --main2: #18d7bb;
  --second2: #FFFFFF;
  --contraste2: #000000;
  --main-color: var(--main);
  --second-color: var(--second);
  --contraste-color: var(--contraste);
  --main2-color: var(--main2);
  --second2-color: var(--second2);
  --contraste2-color: var(--contraste2);
}

[data-do-bg=main] {
  background-color: var(--main-color) !important;
}

[data-do-txt=main] {
  color: var(--main-color) !important;
}

[data-set-main=second] {
  --main-color: var(--second) !important;
}

[data-do-hover=main-second]:hover {
  background-color: var(--main-color) !important;
  color: var(--second-color) !important;
}

[data-set-main=contraste] {
  --main-color: var(--contraste) !important;
}

[data-do-hover=main-contraste]:hover {
  background-color: var(--main-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-bg=second] {
  background-color: var(--second-color) !important;
}

[data-do-txt=second] {
  color: var(--second-color) !important;
}

[data-set-second=main] {
  --second-color: var(--main) !important;
}

[data-do-hover=second-main]:hover {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
}

[data-set-second=contraste] {
  --second-color: var(--contraste) !important;
}

[data-do-hover=second-contraste]:hover {
  background-color: var(--second-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-bg=contraste] {
  background-color: var(--contraste-color) !important;
}

[data-do-txt=contraste] {
  color: var(--contraste-color) !important;
}

[data-set-contraste=main] {
  --contraste-color: var(--main) !important;
}

[data-do-hover=contraste-main]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--main-color) !important;
}

[data-set-contraste=second] {
  --contraste-color: var(--second) !important;
}

[data-do-hover=contraste-second]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--second-color) !important;
}

[data-do-bg=main2] {
  background-color: var(--main2-color) !important;
}

[data-do-txt=main2] {
  color: var(--main2-color) !important;
}

[data-set-main2=main] {
  --main2-color: var(--main) !important;
}

[data-do-hover=main2-main]:hover {
  background-color: var(--main2-color) !important;
  color: var(--main-color) !important;
}

[data-set-main2=second] {
  --main2-color: var(--second) !important;
}

[data-do-hover=main2-second]:hover {
  background-color: var(--main2-color) !important;
  color: var(--second-color) !important;
}

[data-set-main2=contraste] {
  --main2-color: var(--contraste) !important;
}

[data-do-hover=main2-contraste]:hover {
  background-color: var(--main2-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-bg=second2] {
  background-color: var(--second2-color) !important;
}

[data-do-txt=second2] {
  color: var(--second2-color) !important;
}

[data-set-second2=main] {
  --second2-color: var(--main) !important;
}

[data-do-hover=second2-main]:hover {
  background-color: var(--second2-color) !important;
  color: var(--main-color) !important;
}

[data-set-second2=second] {
  --second2-color: var(--second) !important;
}

[data-do-hover=second2-second]:hover {
  background-color: var(--second2-color) !important;
  color: var(--second-color) !important;
}

[data-set-second2=contraste] {
  --second2-color: var(--contraste) !important;
}

[data-do-hover=second2-contraste]:hover {
  background-color: var(--second2-color) !important;
  color: var(--contraste-color) !important;
}

[data-do-bg=contraste2] {
  background-color: var(--contraste2-color) !important;
}

[data-do-txt=contraste2] {
  color: var(--contraste2-color) !important;
}

[data-set-contraste2=main] {
  --contraste2-color: var(--main) !important;
}

[data-do-hover=contraste2-main]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--main-color) !important;
}

[data-set-contraste2=second] {
  --contraste2-color: var(--second) !important;
}

[data-do-hover=contraste2-second]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--second-color) !important;
}

[data-set-contraste2=contraste] {
  --contraste2-color: var(--contraste) !important;
}

[data-do-hover=contraste2-contraste]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--contraste-color) !important;
}

.reverse {
  --second-color: var(--contraste) !important;
  --contraste-color: var(--second) !important;
}

[data-do-bg], [data-do-txt] {
  transition: background-color 0.2s, color 0.2s;
}

[data-bt] {
  display: inline-block;
  border-radius: 0.2rem;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid var(--second-color);
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

[data-do-bg], [data-do-txt] {
  transition: all 0.3s;
}

[data-active].active {
  background-color: var(--main2-color) !important;
  color: var(--contraste-color) !important;
}

[data-colors-container] {
  transition: transform 0.3s;
  transform: translateY(0%);
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 0rem;
}
@media (max-width: 900px) {
  [data-colors-container] {
    width: 3rem;
    height: 3rem;
  }
}

[data-bt-color] {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
  font-size: 0px;
  display: inline-block;
  background-color: black;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 900px) {
  [data-bt-color] {
    width: 3rem;
    height: 3rem;
  }
}

[data-colors-container] {
  opacity: 1;
  transform: scale(1);
  margin-right: 0.5rem;
  display: inline-block;
}

[data-colors-container] [data-bt-color] {
  opacity: 0;
  transform: scale(0.5);
  margin-right: 0rem;
  position: absolute;
  pointer-events: none;
}

[data-bt-color]:hover {
  opacity: 1 !important;
}

[data-bt-color].active {
  transform: scale(1);
}

[data-bt-color]:not(.active):hover {
  transform: scale(0.75) !important;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

[data-colors-container]:not(.active):hover {
  transform: scale(0.75) !important;
}

[data-colors-container].active [data-bt-color].active {
  transform: scale(0.5);
}

[data-colors-container].active [data-bt-color] {
  opacity: 1;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color].active {
  opacity: 1 !important;
  top: 0rem !important;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
  transition-delay: 0s;
}

[data-colors-container].active [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(2) {
  top: 0.2rem;
  left: 0.2rem;
  transition-delay: 0.02s;
}

[data-colors-container].active [data-bt-color]:nth-child(2) {
  top: 1.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(3) {
  top: 0.4rem;
  left: 0rem;
  transition-delay: 0.04s;
}

[data-colors-container].active [data-bt-color]:nth-child(3) {
  top: 3rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(4) {
  top: 0.6rem;
  left: 0.2rem;
  transition-delay: 0.06s;
}

[data-colors-container].active [data-bt-color]:nth-child(4) {
  top: 4.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(5) {
  top: 0.8rem;
  left: 0rem;
  transition-delay: 0.08s;
}

[data-colors-container].active [data-bt-color]:nth-child(5) {
  top: 6rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(6) {
  top: 1rem;
  left: 0.2rem;
  transition-delay: 0.1s;
}

[data-colors-container].active [data-bt-color]:nth-child(6) {
  top: 7.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(7) {
  top: 1.2rem;
  left: 0rem;
  transition-delay: 0.12s;
}

[data-colors-container].active [data-bt-color]:nth-child(7) {
  top: 9rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(8) {
  top: 1.4rem;
  left: 0.2rem;
  transition-delay: 0.14s;
}

[data-colors-container].active [data-bt-color]:nth-child(8) {
  top: 10.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(9) {
  top: 1.6rem;
  left: 0rem;
  transition-delay: 0.16s;
}

[data-colors-container].active [data-bt-color]:nth-child(9) {
  top: 12rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(10) {
  top: 1.8rem;
  left: 0.2rem;
  transition-delay: 0.18s;
}

[data-colors-container].active [data-bt-color]:nth-child(10) {
  top: 13.5rem;
  left: 2.2rem;
}

[data-colors-container] [data-bt-color]:nth-child(11) {
  top: 2rem;
  left: 0rem;
  transition-delay: 0.2s;
}

[data-colors-container].active [data-bt-color]:nth-child(11) {
  top: 15rem;
  left: 0rem;
}

[data-colors-container] [data-bt-color]:nth-child(12) {
  top: 2.2rem;
  left: 0.2rem;
  transition-delay: 0.22s;
}

[data-colors-container].active [data-bt-color]:nth-child(12) {
  top: 16.5rem;
  left: 2.2rem;
}

.deco {
  display: grid;
  position: absolute;
  top: 0rem;
  pointer-events: none;
  opacity: 1;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: 1fr 2rem 4rem 5fr 1fr;
  grid-template-rows: 1rem 2rem 4rem 1rem 1rem;
  gap: 1rem;
}
.deco li {
  display: block;
  mix-blend-mode: screen;
  position: relative;
}
.deco li:nth-child(3n-2) {
  top: -4rem;
  transform: rotate(45deg);
  background-color: var(--main-color);
}
.deco li:nth-child(6n-1) {
  left: 4rem;
  transform: rotate(45deg);
  mix-blend-mode: screen;
  background-color: var(--second-color);
}
.deco li:nth-child(3n-1) {
  top: 4rem;
  transform: rotate(-45deg);
  mix-blend-mode: screen;
  background-color: var(--contraste-color);
}

#imgContainer {
  height: 120vh;
  overflow: hidden;
}

#imgContainer img {
  width: auto;
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

[data-do-trigger=true].active {
  text-decoration: underline;
}

.hero-grid {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 12;
  display: grid;
  mix-blend-mode: multiply;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a a" "a a" "b ok";
}
@media (max-width: 900px) {
  .hero-grid {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "a" "b" "ok";
  }
}
.hero-grid .h1 {
  grid-area: ok;
  font-size: 6rem;
  display: flex;
  align-items: center;
}
.hero-grid .h1 h1 {
  margin: 0px;
  font-weight: 100;
  transform: translateX(-0.13em);
}
