:root {
  --main: #de1836;
  --second: #e8e5e7;
  --contraste: #262625;
  --main2: #18d7bb;
  --second2: #6b6162;
  --contraste2: #332425;
  --main-color: var(--main);
  --second-color: var(--second);
  --contraste-color: var(--contraste);
  --main2-color: var(--main2);
  --second2-color: var(--second2);
  --contraste2-color: var(--contraste2);
}

[data-do-bg=main] {
  background-color: var(--main-color) !important;
}

[data-do-txt=main] {
  color: var(--main-color) !important;
}

[data-set-main=second] {
  --main-color: var(--second) !important;
}

[data-do-hover=main-second]:hover {
  background-color: var(--main-color) !important;
  color: var(--second-color) !important;
}

[data-set-main=contraste] {
  --main-color: var(--contraste) !important;
}

[data-do-hover=main-contraste]:hover {
  background-color: var(--main-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-main=main2] {
  --main-color: var(--main2) !important;
}

[data-do-hover=main-main2]:hover {
  background-color: var(--main-color) !important;
  color: var(--main2-color) !important;
}

[data-set-main=second2] {
  --main-color: var(--second2) !important;
}

[data-do-hover=main-second2]:hover {
  background-color: var(--main-color) !important;
  color: var(--second2-color) !important;
}

[data-set-main=contraste2] {
  --main-color: var(--contraste2) !important;
}

[data-do-hover=main-contraste2]:hover {
  background-color: var(--main-color) !important;
  color: var(--contraste2-color) !important;
}

[data-do-bg=second] {
  background-color: var(--second-color) !important;
}

[data-do-txt=second] {
  color: var(--second-color) !important;
}

[data-set-second=main] {
  --second-color: var(--main) !important;
}

[data-do-hover=second-main]:hover {
  background-color: var(--second-color) !important;
  color: var(--main-color) !important;
}

[data-set-second=contraste] {
  --second-color: var(--contraste) !important;
}

[data-do-hover=second-contraste]:hover {
  background-color: var(--second-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-second=main2] {
  --second-color: var(--main2) !important;
}

[data-do-hover=second-main2]:hover {
  background-color: var(--second-color) !important;
  color: var(--main2-color) !important;
}

[data-set-second=second2] {
  --second-color: var(--second2) !important;
}

[data-do-hover=second-second2]:hover {
  background-color: var(--second-color) !important;
  color: var(--second2-color) !important;
}

[data-set-second=contraste2] {
  --second-color: var(--contraste2) !important;
}

[data-do-hover=second-contraste2]:hover {
  background-color: var(--second-color) !important;
  color: var(--contraste2-color) !important;
}

[data-do-bg=contraste] {
  background-color: var(--contraste-color) !important;
}

[data-do-txt=contraste] {
  color: var(--contraste-color) !important;
}

[data-set-contraste=main] {
  --contraste-color: var(--main) !important;
}

[data-do-hover=contraste-main]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--main-color) !important;
}

[data-set-contraste=second] {
  --contraste-color: var(--second) !important;
}

[data-do-hover=contraste-second]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--second-color) !important;
}

[data-set-contraste=main2] {
  --contraste-color: var(--main2) !important;
}

[data-do-hover=contraste-main2]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--main2-color) !important;
}

[data-set-contraste=second2] {
  --contraste-color: var(--second2) !important;
}

[data-do-hover=contraste-second2]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--second2-color) !important;
}

[data-set-contraste=contraste2] {
  --contraste-color: var(--contraste2) !important;
}

[data-do-hover=contraste-contraste2]:hover {
  background-color: var(--contraste-color) !important;
  color: var(--contraste2-color) !important;
}

[data-do-bg=main2] {
  background-color: var(--main2-color) !important;
}

[data-do-txt=main2] {
  color: var(--main2-color) !important;
}

[data-set-main2=main] {
  --main2-color: var(--main) !important;
}

[data-do-hover=main2-main]:hover {
  background-color: var(--main2-color) !important;
  color: var(--main-color) !important;
}

[data-set-main2=second] {
  --main2-color: var(--second) !important;
}

[data-do-hover=main2-second]:hover {
  background-color: var(--main2-color) !important;
  color: var(--second-color) !important;
}

[data-set-main2=contraste] {
  --main2-color: var(--contraste) !important;
}

[data-do-hover=main2-contraste]:hover {
  background-color: var(--main2-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-main2=second2] {
  --main2-color: var(--second2) !important;
}

[data-do-hover=main2-second2]:hover {
  background-color: var(--main2-color) !important;
  color: var(--second2-color) !important;
}

[data-set-main2=contraste2] {
  --main2-color: var(--contraste2) !important;
}

[data-do-hover=main2-contraste2]:hover {
  background-color: var(--main2-color) !important;
  color: var(--contraste2-color) !important;
}

[data-do-bg=second2] {
  background-color: var(--second2-color) !important;
}

[data-do-txt=second2] {
  color: var(--second2-color) !important;
}

[data-set-second2=main] {
  --second2-color: var(--main) !important;
}

[data-do-hover=second2-main]:hover {
  background-color: var(--second2-color) !important;
  color: var(--main-color) !important;
}

[data-set-second2=second] {
  --second2-color: var(--second) !important;
}

[data-do-hover=second2-second]:hover {
  background-color: var(--second2-color) !important;
  color: var(--second-color) !important;
}

[data-set-second2=contraste] {
  --second2-color: var(--contraste) !important;
}

[data-do-hover=second2-contraste]:hover {
  background-color: var(--second2-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-second2=main2] {
  --second2-color: var(--main2) !important;
}

[data-do-hover=second2-main2]:hover {
  background-color: var(--second2-color) !important;
  color: var(--main2-color) !important;
}

[data-set-second2=contraste2] {
  --second2-color: var(--contraste2) !important;
}

[data-do-hover=second2-contraste2]:hover {
  background-color: var(--second2-color) !important;
  color: var(--contraste2-color) !important;
}

[data-do-bg=contraste2] {
  background-color: var(--contraste2-color) !important;
}

[data-do-txt=contraste2] {
  color: var(--contraste2-color) !important;
}

[data-set-contraste2=main] {
  --contraste2-color: var(--main) !important;
}

[data-do-hover=contraste2-main]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--main-color) !important;
}

[data-set-contraste2=second] {
  --contraste2-color: var(--second) !important;
}

[data-do-hover=contraste2-second]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--second-color) !important;
}

[data-set-contraste2=contraste] {
  --contraste2-color: var(--contraste) !important;
}

[data-do-hover=contraste2-contraste]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--contraste-color) !important;
}

[data-set-contraste2=main2] {
  --contraste2-color: var(--main2) !important;
}

[data-do-hover=contraste2-main2]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--main2-color) !important;
}

[data-set-contraste2=second2] {
  --contraste2-color: var(--second2) !important;
}

[data-do-hover=contraste2-second2]:hover {
  background-color: var(--contraste2-color) !important;
  color: var(--second2-color) !important;
}

.reverse {
  --second-color: var(--contraste) !important;
  --contraste-color: var(--second) !important;
}

[data-do-bg], [data-do-txt] {
  transition: background-color 0.2s, color 0.2s;
}

[data-bt-action] {
  display: inline-block;
  border-radius: 0.2rem;
  text-transform: uppercase;
  padding: 1rem;
  border: 1px solid var(--second-color);
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.palette-container [data-bt-action] {
  font-size: 0px;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

[data-do-bg], [data-do-txt] {
  transition: all 0.3s;
}

[data-bt-action].active {
  background-color: var(--main2-color) !important;
  color: var(--contraste-color) !important;
}

#container-colors {
  padding: 1rem;
  display: flex;
  position: relative;
  z-index: 12;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

[data-colors-container] {
  transition: transform 0.3s;
  transform: translateY(0%);
  position: relative;
  width: 6em;
  height: 6em;
  font-size: 1rem;
}

[data-bt-color] {
  width: 4em;
  height: 4em;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.5);
}

[data-bt-color]:hover {
  opacity: 1 !important;
}

[data-bt-color].active {
  transform: scale(1);
}

[data-bt-color]:not(.active):hover {
  transform: scale(0.75);
}

[data-colors-container].active [data-bt-color].active {
  transform: scale(0.5);
}

[data-colors-container].active [data-bt-color] {
  opacity: 1;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color].active {
  opacity: 1 !important;
  top: 0em !important;
  pointer-events: auto;
}

[data-colors-container] [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
  transition-delay: 0s;
}

[data-colors-container].active [data-bt-color]:nth-child(1) {
  top: 0rem;
  left: 0rem;
  transition-delay: 0s;
}

[data-colors-container] [data-bt-color]:nth-child(2) {
  top: 0.2rem;
  left: 0.2rem;
  transition-delay: 0.02s;
}

[data-colors-container].active [data-bt-color]:nth-child(2) {
  top: 1.5rem;
  left: 2.2rem;
  transition-delay: 0.02s;
}

[data-colors-container] [data-bt-color]:nth-child(3) {
  top: 0.4rem;
  left: 0rem;
  transition-delay: 0.04s;
}

[data-colors-container].active [data-bt-color]:nth-child(3) {
  top: 3rem;
  left: 0rem;
  transition-delay: 0.04s;
}

[data-colors-container] [data-bt-color]:nth-child(4) {
  top: 0.6rem;
  left: 0.2rem;
  transition-delay: 0.06s;
}

[data-colors-container].active [data-bt-color]:nth-child(4) {
  top: 4.5rem;
  left: 2.2rem;
  transition-delay: 0.06s;
}

[data-colors-container] [data-bt-color]:nth-child(5) {
  top: 0.8rem;
  left: 0rem;
  transition-delay: 0.08s;
}

[data-colors-container].active [data-bt-color]:nth-child(5) {
  top: 6rem;
  left: 0rem;
  transition-delay: 0.08s;
}

[data-colors-container] [data-bt-color]:nth-child(6) {
  top: 1rem;
  left: 0.2rem;
  transition-delay: 0.1s;
}

[data-colors-container].active [data-bt-color]:nth-child(6) {
  top: 7.5rem;
  left: 2.2rem;
  transition-delay: 0.1s;
}

[data-colors-container] [data-bt-color]:nth-child(7) {
  top: 1.2rem;
  left: 0rem;
  transition-delay: 0.12s;
}

[data-colors-container].active [data-bt-color]:nth-child(7) {
  top: 9rem;
  left: 0rem;
  transition-delay: 0.12s;
}

[data-colors-container] [data-bt-color]:nth-child(8) {
  top: 1.4rem;
  left: 0.2rem;
  transition-delay: 0.14s;
}

[data-colors-container].active [data-bt-color]:nth-child(8) {
  top: 10.5rem;
  left: 2.2rem;
  transition-delay: 0.14s;
}

[data-colors-container] [data-bt-color]:nth-child(9) {
  top: 1.6rem;
  left: 0rem;
  transition-delay: 0.16s;
}

[data-colors-container].active [data-bt-color]:nth-child(9) {
  top: 12rem;
  left: 0rem;
  transition-delay: 0.16s;
}

[data-colors-container] [data-bt-color]:nth-child(10) {
  top: 1.8rem;
  left: 0.2rem;
  transition-delay: 0.18s;
}

[data-colors-container].active [data-bt-color]:nth-child(10) {
  top: 13.5rem;
  left: 2.2rem;
  transition-delay: 0.18s;
}

[data-colors-container] [data-bt-color]:nth-child(11) {
  top: 2rem;
  left: 0rem;
  transition-delay: 0.2s;
}

[data-colors-container].active [data-bt-color]:nth-child(11) {
  top: 15rem;
  left: 0rem;
  transition-delay: 0.2s;
}

[data-colors-container] [data-bt-color]:nth-child(12) {
  top: 2.2rem;
  left: 0.2rem;
  transition-delay: 0.22s;
}

[data-colors-container].active [data-bt-color]:nth-child(12) {
  top: 16.5rem;
  left: 2.2rem;
  transition-delay: 0.22s;
}

[data-colors-container] [data-bt-color]:nth-child(13) {
  top: 2.4rem;
  left: 0rem;
  transition-delay: 0.24s;
}

[data-colors-container].active [data-bt-color]:nth-child(13) {
  top: 18rem;
  left: 0rem;
  transition-delay: 0.24s;
}

[data-colors-container] [data-bt-color]:nth-child(14) {
  top: 2.6rem;
  left: 0.2rem;
  transition-delay: 0.26s;
}

[data-colors-container].active [data-bt-color]:nth-child(14) {
  top: 19.5rem;
  left: 2.2rem;
  transition-delay: 0.26s;
}

[data-colors-container] [data-bt-color]:nth-child(15) {
  top: 2.8rem;
  left: 0rem;
  transition-delay: 0.28s;
}

[data-colors-container].active [data-bt-color]:nth-child(15) {
  top: 21rem;
  left: 0rem;
  transition-delay: 0.28s;
}

[data-colors-container] [data-bt-color]:nth-child(16) {
  top: 3rem;
  left: 0.2rem;
  transition-delay: 0.3s;
}

[data-colors-container].active [data-bt-color]:nth-child(16) {
  top: 22.5rem;
  left: 2.2rem;
  transition-delay: 0.3s;
}

[data-colors-container] [data-bt-color]:nth-child(17) {
  top: 3.2rem;
  left: 0rem;
  transition-delay: 0.32s;
}

[data-colors-container].active [data-bt-color]:nth-child(17) {
  top: 24rem;
  left: 0rem;
  transition-delay: 0.32s;
}

[data-colors-container] [data-bt-color]:nth-child(18) {
  top: 3.4rem;
  left: 0.2rem;
  transition-delay: 0.34s;
}

[data-colors-container].active [data-bt-color]:nth-child(18) {
  top: 25.5rem;
  left: 2.2rem;
  transition-delay: 0.34s;
}

[data-colors-container] [data-bt-color]:nth-child(19) {
  top: 3.6rem;
  left: 0rem;
  transition-delay: 0.36s;
}

[data-colors-container].active [data-bt-color]:nth-child(19) {
  top: 27rem;
  left: 0rem;
  transition-delay: 0.36s;
}

[data-colors-container] [data-bt-color]:nth-child(20) {
  top: 3.8rem;
  left: 0.2rem;
  transition-delay: 0.38s;
}

[data-colors-container].active [data-bt-color]:nth-child(20) {
  top: 28.5rem;
  left: 2.2rem;
  transition-delay: 0.38s;
}

[data-colors-container] [data-bt-color]:nth-child(21) {
  top: 4rem;
  left: 0rem;
  transition-delay: 0.4s;
}

[data-colors-container].active [data-bt-color]:nth-child(21) {
  top: 30rem;
  left: 0rem;
  transition-delay: 0.4s;
}

[data-colors-container] [data-bt-color]:nth-child(22) {
  top: 4.2rem;
  left: 0.2rem;
  transition-delay: 0.42s;
}

[data-colors-container].active [data-bt-color]:nth-child(22) {
  top: 31.5rem;
  left: 2.2rem;
  transition-delay: 0.42s;
}

[data-colors-container] [data-bt-color]:nth-child(23) {
  top: 4.4rem;
  left: 0rem;
  transition-delay: 0.44s;
}

[data-colors-container].active [data-bt-color]:nth-child(23) {
  top: 33rem;
  left: 0rem;
  transition-delay: 0.44s;
}

[data-colors-container] [data-bt-color]:nth-child(24) {
  top: 4.6rem;
  left: 0.2rem;
  transition-delay: 0.46s;
}

[data-colors-container].active [data-bt-color]:nth-child(24) {
  top: 34.5rem;
  left: 2.2rem;
  transition-delay: 0.46s;
}

.deco {
  display: grid;
  position: absolute;
  top: 0rem;
  pointer-events: none;
  opacity: 1;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-columns: 1fr 2rem 4rem 5fr 1fr;
  grid-template-rows: 1rem 2rem 4rem 1rem 1rem;
  gap: 1rem;
}
.deco li {
  display: block;
  mix-blend-mode: screen;
  position: relative;
}
.deco li:nth-child(3n-2) {
  top: -4rem;
  transform: rotate(45deg);
  background-color: var(--main-color);
}
.deco li:nth-child(6n-1) {
  left: 4rem;
  transform: rotate(45deg);
  mix-blend-mode: screen;
  background-color: var(--second-color);
}
.deco li:nth-child(3n-1) {
  top: 4rem;
  transform: rotate(-45deg);
  mix-blend-mode: screen;
  background-color: var(--contraste-color);
}

#imgContainer {
  height: 100vh;
  overflow: hidden;
}

#imgContainer img {
  width: 100%;
  min-height: 100%;
  margin-left: 0rem;
  object-fit: none;
  object-position: 50% 31.5%;
}

[data-do-trigger=true].active {
  color: var(--main-color) !important;
}

span {
  display: inline-block;
}
